@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");
body {
    font-family: "Montserrat";
}
html {
    font-family: Arial;
    font-size: 16px;
    background: #222;
}

.sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    background: #000;
    /*  background: #312450;*/
    font-size: 0.65em;
    min-width: 180px;
}

.sidebar .profile-img {
    height: 150px;
    margin: 0 auto;
    float: none;
    display: block;
    margin-top: 100px;
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 20%;
    transform: translateY(-50%);
    font-weight: bold;
}

.nav ul {
    list-style: none;
}
.nav ul li {
    position: relative;
    margin: 3.2em 0;
}
